{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        <ul id="taglist" class="taglist">
            <li><a href="{{@blog.url}}">Home</a></li>
            <li><a href="/tag/TUTORIAL">Series</a></li>
            <li><a href="/tag/JS">Javascript</a></li>
            <li><a href="/tag/NODEJS">Nodejs</a></li>
            <li><a href="/tag/SDM">SDM</a></li>
            <li><a href="/tag/ORACLE">Oracle</a></li>
            <li><a href="/tag/MISC">Misc</a></li>
            <li><a href="/contact-me/">Contact Me</a></li>
        </ul>
      </div>
    </nav>

</header>
