<div class="box sidebox about">
  <img src="https://s3-us-west-2.amazonaws.com/moments-of-life/Velocity/Profile+Pic.jpg" width="100%" height="100%" >
 
</div>


<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->
    <p>Checkout my profile at <a href="https://in.linkedin.com/in/somenath-ghosh-96817496">LinkedIn</a></p>

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
    
    <a href="http://twitter.com/some_ghosh" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
    
    <a href="https://github.com/somenathghosh" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>
    
    <a href="https://in.linkedin.com/in/somenath-ghosh-96817496" target="_blank" class="social-item home"><li><i class="fa fa-linkedin"></i></li></a>

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

<div class="" style="margin-bottom:1em">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Velocity -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7437086218471934"
     data-ad-slot="1007685602"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</div>



<div class="" style="margin-bottom:1em">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Velocity -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7437086218471934"
     data-ad-slot="1007685602"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</div>


<div class="" style="margin-bottom:1em">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Velocity -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7437086218471934"
     data-ad-slot="1007685602"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</div>
<div class="" style="margin-bottom:1em">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Velocity Add -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7725191467842584"
     data-ad-slot="9604183351"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</div>
