<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->
    <p>checkout my profile at <a href="https://in.linkedin.com/in/somenath-ghosh-96817496">LinkedIn</a></p>

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
    
    <a href="http://twitter.com/some_ghosh" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
    
    <a href="https://github.com/somenathghosh" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>
    
    <a href="https://in.linkedin.com/in/somenath-ghosh-96817496" target="_blank" class="social-item home"><li><i class="fa fa-linkedin"></i></li></a>

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

